<!DOCTYPE html>
<html>
<head>
  <title>My app tester</title>
  <%= stylesheet_link_tag 'application', media: 'all' => true %>
  <%= javascript_include_tag 'application' => true %>
  <%= csrf_meta_tag %>
  </head>
<body>

<%= yield %>

</body>
</html>
